* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
  display: none; /* Hidden by default */
}

header {
    margin-left:25%;
    margin-right:25%;
    padding-top:30px;
    padding-bottom: 20px;
    color: white;
    font-size: 10px;
    text-align: center;
}

body {
  margin-left:6%;
  margin-right:6%;
  font-family: Sans-Serif;
  color: white;
  background-color: #1a1005e7;
}

.border-box {
  border: 1px solid rgb(202, 202, 202);
  padding: 5%;
  padding-top:5px;
  padding-bottom:5px;
}

.js-search-form {
  padding: 2%;
  padding-top:5px;
  padding-bottom:5px;
}

.js-search-form input,.js-search-form select,.js-search-form button{
  margin:auto;
  margin-bottom:1ex;
  height: 3ex;
  width:95%;
}

.border-box *{
  border: none;
  font-size: 13px;
  margin:5px;
  margin-left:0.5%;
  margin-right:0.5%;
}

.js-search-form *{
  display: block;
  font-size:larger;
}

.input {
  margin: 0px;
  padding: 0px;
  display:block;
}

.single-result {
  margin: 4%;
  /* margin-top: 16px;
  margin-bottom: 16px; */
}

.single-result *{
  margin: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.js-recommend-results .single-result{
  border-bottom: 1px dashed rgb(202, 202, 202);
}

.js-result .sub-header {
  padding-top:30px;
  padding-bottom:10px;
  font-size: 25px;
}

.youtube-video-list{
  font-size: 0px;
}

.video-img {
  margin:0px;
  padding-right: 1%;
  height:40px;
  width:19%;
  max-width: 65px;
}

/* Screens Larger than 620px*/
@media only screen and (min-width: 620px){

    header {
        font-size: 12px;
    }

    .border-box {
      border: 2px solid rgb(202, 202, 202);
    }

    .border-box *{
      font-size: 16px;
    }

    .js-search-form *{
      font-size:larger;
      display: inline-block;
    }

    

    .js-search-form input,.js-search-form select,.js-search-form button{
      margin-bottom:1ex;
      height: 3ex;
      width:auto;
    }

    .single-result {
      margin: 4%;
    }

    .video-img {
      max-width: 105px;
      height:70px;
    }

}

/* Screens Larger than 1000px*/
@media only screen and (min-width: 1000px){

    header {
        font-size: 14px;
    }

    .js-search-form *{
      display: inline-block;
    }

    .border-box {
      border: 3px solid rgb(202, 202, 202);
    }

    .border-box *{
      font-size: 18px;
    }

    .video-img {
      max-width: 150px;
      height:100px;
    }
}

/* Screens Larger than 1400px*/
@media only screen and (min-width: 1400px){

    .video-img {
      max-width: 150px;
      height:100px;
    }
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#channel {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.js-search-results-page-button .pageButton{
  display: inline-block;
}


/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    background: none;
    border: none;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}